# Rådatafiler
data/original_excels/
data/*.xlsx
data/cleaned_with_clusters.csv

# Modellfiler
*.pkl
*.sav

# Jupyter-kärnor
.ipynb_checkpoints/

# Streamlit & Python cache
__pycache__/
*.py[cod]
*.DS_Store